{
	"audioOut": {
		"defaultValue": "audio card 0",
		"dataType": "list",
		"isSensitive": false,
		"values": {
			"audio card 0": "-c0",
			"audio card 1": "-c1",
			"audio card 2": "-c2",
			"HDMI": "HDMI",
			"USB": "USB"
		},
		"description": "Choose audio port your using"
	},
	"portName": {
		"defaultValue": "Headphone",
		"dataType": "string",
		"isSensitive": false,
		"description": "Audio output port name"
	}
}
