{
	"audioOut": {
		"defaultValue": "",
		"dataType": "list",
		"isSensitive": false,
		"values": {
			"audio card 0": "-c0",
			"audio card 1": "-c1",
			"audio card 2": "-c2"
		},
		"description": "Choose audio port your using"
	}
}
